@model Im.Acm.Pollen.ViewModels.GrainViewModel
@section scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script type="text/javascript" src="~/js/grain/GoogleMaps.js"></script>
    <script type="text/javascript" src="~/lib/fabric/dist/fabric.min.js"></script>
    <script type="text/javascript" src="~/lib/darkroomjs/build/darkroom.js"></script>
    <script type="text/javascript" src="~/js/grain/ImageManipluation.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap/js/modal.js"></script>
    <script type="text/javascript" src="~/js/grain/AjaxUpload.js"></script>
}
@{
    ViewBag.Title = "Add a Grain";
}

<link rel="stylesheet" href="~/lib/darkroomjs/build/darkroom.css" />

@section nocontainerbody {

    <form id="addGrainForm" name="addGrain" method="post" onsubmit="return uploadFile()" action="">
        <div class="addgrain-section headsection">
            <div class="container">
                <h2>Add Unidentified Pollen Grain</h2>
                <p>Intro blurb about uploading your own unidentified pollen...</p>
                <div asp-validation-summary="All" role="alert"></div>
                <div id="validation-errors-box" style="display:none;" class="alert alert-danger" role="alert"></div>
            </div>
        </div>

        <div class="addgrain-section imagesection">
            <div class="container">
                <div class="row">
                    <h3><span class="numberCircle">1</span> Add Your Images</h3>
                    <p>After you select your image, you can crop and rotate it. You can add up to <strong>four</strong> images of a single grain. Adding more images from different angles may aid with identification.</p>
                </div>
                <div class="row">
                    <div class="fileUpload btn btn-default">
                        <span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span><span> Select Your Images</span>
                        <input type="file" multiple="multiple" class="upload" onchange="handleFiles(this);" />
                    </div>
                    <div class="photoUrls" style="display:none">
                        <textarea asp-for="ImageOne"></textarea>
                        <textarea asp-for="ImageTwo"></textarea>
                        <textarea asp-for="ImageThree"></textarea>
                        <textarea asp-for="ImageFour"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2"><label>Current Uploads: </label></div>
                    <div class="col-md-10">
                        <div class="row" id="image-thumbnails">
                            <div class="col-md-12">None</div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-2">
                        <label>Grain Size</label>
                    </div>
                    <div class="col-md-10">
                        <div class="input-group">
                            <input type="text" asp-for="ImagesScale" class="form-control" id="ImageScale" placeholder="Maximum Diameter" />
                            <span class="input-group-addon">Micrometres</span>
                        </div>
                        <span asp-validation-for="ImagesScale" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="addgrain-section mapsection">
            <div class="container">
                <div class="row">
                    <h3><span class="numberCircle">2</span> Location</h3>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <label>Where was the pollen grain collected from?</label>
                    </div>
                    <div class="col-md-10">
                        <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
                        <div id="map"></div>
                        <br />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        @Html.LabelFor(m => m.Latitude)
                    </div>
                    <div class="col-md-10">
                        <div class="input-group">
                            <input type="text" readonly="readonly" asp-for="Latitude" class="form-control" id="Latitude" placeholder="Latitude" />
                            <span class="input-group-addon">Decimal Degrees</span>
                        </div>
                        <span asp-validation-for="Latitude" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        @Html.LabelFor(m => m.Longitude)
                    </div>
                    <div class="col-md-10">
                        <div class="input-group">
                            <input type="text" readonly="readonly" asp-for="Longitude" class="form-control" id="Longitude" placeholder="Longitude" />
                            <span class="input-group-addon">Decimal Degrees</span>
                        </div>
                        <span asp-validation-for="Longitude" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-4">
                    </div>
                </div>
            </div>
        </div>

        <div class="addgrain-section optionalsection">
            <div class="container">
                <div class="row">
                    <h3><span class="numberCircle">3</span> Optional Information</h3>
                    <p>Adding information here is optional, but may help others to better identify your grain.</p>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <label>Approximate Age of Sample</label>
                    </div>
                    <div class="col-md-10">
                        <div class="input-group">
                            <input type="text" class="form-control" asp-for="AgeYearsBeforePresent" placeholder="Age" />
                            <div class="input-group-addon">Years Before Present</div>
                        </div>
                        <span asp-validation-for="AgeYearsBeforePresent" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="addgrain-section savesection">
            <div class="container">
                <div class="row">
                    <a id="submit" class="btn btn-primary" href="javascript: uploadFile()">Add My Grain!</a>
                </div>
                <br />
                <div class="row">
                    <div class="progress" style="display:none;">
                        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
                    </div>
                </div>
            </div>
        </div>
    </form>
}