@using System.Security.Claims
@{
    bool isAdmin = User.IsInRole("Admin");
}

@if (User.Identity.IsAuthenticated)
{
    <form asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@User.GetUserName()<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a asp-controller="Grain" asp-action="MyGrains" title="My Grains">My Grains</a></li>
                    <li><a asp-controller="Manage" asp-action="Index" title="Manage">My Account</a></li>
                    @if (isAdmin)
                    {
                        <li role="separator" class="divider"></li>
                        <li><a asp-controller="Admin" asp-action="Users" title="Admin Portal">Admin: Manage Users</a></li>
                        <li><a asp-controller="Admin" asp-action="Taxa" title="Admin Portal">Admin: Manage Taxa</a></li>
                    }
                    <li role="separator" class="divider"></li>
                    <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                </ul>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-controller="Account" asp-action="Register">Register</a></li>
        <li><a asp-controller="Account" asp-action="Login">Log in</a></li>
    </ul>
}
