@model ReferenceCollection
@{
    ViewData["Title"] = "Add Reference Collection";
    ViewData["Subtitle"] = "Enables digitisation of reference slides";
}

@section scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

    @* Continent Picker *@
    <script src="//d3js.org/d3.v3.min.js"></script>
    <script src="//d3js.org/topojson.v1.min.js"></script>
    <script src="~/js/geography/ContinentPicker.js"></script>
}

@section homepageHeader {
    <div class="addgrain-section headsection">
        <div class="container">
            <h2>@ViewBag.Title</h2>
            <p>@ViewBag.Subtitle</p>
        </div>
    </div>
    <br />
}

<div class="row">
    <div class="col-md-12">
        @if (User.IsInRole("Digitise"))
        {
            <div class="panel panel-primary">
                <div class="panel-heading"><span class="glyphicon glyphicon-edit"></span> Digitisation Features</div>
                <div class="panel-body">
                    <p>To digitise a reference collection, first add the collection here. You will also be able to edit this information later.</p>
                    @using (Html.BeginForm(FormMethod.Post, new { @class = "form-horizontal" }))
                    {
                        <h4>Basic Information</h4>
                        <hr />
                        <div class="form-group">
                            <label asp-for="Name" class="col-md-2 control-label"></label>
                            <div class="col-md-10">
                                <input asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Description" class="col-md-2 control-label"></label>
                            <div class="col-md-10">
                                <textarea rows="8" asp-for="Description" class="form-control"></textarea>
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Owned By</label>
                            <div class="col-md-10">
                                <input asp-for="OwnedBy" class="form-control" />
                                <span asp-validation-for="OwnedBy" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Institution Where Collection is Located</label>
                            <div class="col-md-10">
                                <input asp-for="Institution" class="form-control" />
                                <span asp-validation-for="Institution" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="CountryCode" class="col-md-2 control-label"></label>
                            <div class="col-md-10">
                                <input asp-for="CountryCode" class="form-control" />
                                <span asp-validation-for="CountryCode" class="text-danger"></span>
                            </div>
                        </div>
                        <h4>Geographic Extent</h4>
                        <hr />
                        <p>
                            If your collection has a geographical focus, please select the region from the map below.
                            This information allows users to filter collections to those of their region of interest.
                            If your collection falls outwidth the regional bounds here, leave this blank to mark your collection as global.
                        </p>
                        <div class="form-group">
                            <label asp-for="FocusRegion" class="col-md-2 control-label"></label>
                            <div class="col-md-10">
                                <input type="text" asp-for="FocusRegion" class="form-control" readonly="readonly" />
                                <span asp-validation-for="FocusRegion" class="text-danger"></span>
                                <div id="continent-picker"></div>
                            </div>
                        </div>
                        <h4>Outreach</h4>
                        <hr />
                        <p>If users wish to contact you with queries about your collection, or wish to access the physical slides, this information will help them contact you.</p>
                        <div class="form-group">
                            <label asp-for="ContactEmail" class="col-md-2 control-label"></label>
                            <div class="col-md-10">
                                <input asp-for="ContactEmail" class="form-control" />
                                <span asp-validation-for="ContactEmail" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="WebAddress" class="col-md-2 control-label"></label>
                            <div class="col-md-10">
                                <input asp-for="WebAddress" class="form-control" />
                                <span asp-validation-for="WebAddress" class="text-danger"></span>
                            </div>
                        </div>

                        <input class="btn btn-primary" type="submit" name="submit" value="Save" />
                        <a asp-action="Index" class="btn btn-default">Cancel</a>
                    }
                </div>
            </div>
        }
    </div>
</div>



