@model ReferenceCollection
@{
    ViewData["Title"] = "Add Reference Collection";
}

@section scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    
    @* Continent Picker *@
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="http://d3js.org/topojson.v1.min.js"></script>
    <script src="~/js/geography/ContinentPicker.js"></script>
}

@section homepageHeader {
    <div class="addgrain-section headsection">
        <div class="container">
            <h2>@ViewBag.Title</h2>
            <p>@ViewBag.Subtitle</p>
        </div>
    </div>
    <br />
}

<div class="row">
    <div class="col-md-12">
        @if (User.IsInRole("Digitise"))
        {
            <div class="panel panel-primary">
                <div class="panel-heading"><span class="glyphicon glyphicon-edit"></span> Digitisation Features</div>
                <div class="panel-body">
                    <p>To digitise a reference collection, first add the collection here.</p>
                    @using (Html.BeginForm("AddCollection", "Reference", FormMethod.Post, new { @class = "form" }))
                        {
                        <div class="row">
                            <div class="col-md-2">
                                <label asp-for="Name"></label>
                            </div>
                            <div class="col-md-10">
                                <input type="text" asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <label asp-for="Institution"></label>
                            </div>
                            <div class="col-md-10">
                                <input type="text" asp-for="Institution" class="form-control"/>
                                <span asp-validation-for="Institution" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <label asp-for="Description"></label>
                            </div>
                            <div class="col-md-10">
                                <textarea asp-for="Description" class="form-control"></textarea>
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <label for="CountryCode">Country</label>
                            </div>
                            <div class="col-md-10">
                                <input type="text" asp-for="CountryCode" class="form-control" />
                                <span asp-validation-for="CountryCode" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <label for="FocusRegion">Focus Region</label>
                            </div>
                            <div class="col-md-10">
                                <input type="text" asp-for="FocusRegion" class="form-control" readonly="readonly"/>
                                <span asp-validation-for="FocusRegion" class="text-danger"></span>
                                <div id="continent-picker"></div>
                            </div>
                        </div>


                        <input class="btn btn-primary" type="submit" name="submit" value="Add" />
                        <a asp-action="Index" class="btn btn-default">Cancel</a>
                    }
                </div>
            </div>
        }
    </div>
</div>



