@model OxPollen.ViewModels.BountyChartsViewModel

@{
    ViewBag.Title = "Bounty";
}

@* Header *@
@section homepageHeader {
    <div class="addgrain-section headsection">
        <div class="container">
            <h2>Bounty</h2>
            <p>Identify grains to build up your score</p>
        </div>
    </div>
    <br />
}


<p>
    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
    <span class="sr-only">Info:</span> For information on scoring, <a asp-action="Help" asp-controller="Grain">head to the Q&A</a>.
</p>

@* Leaderboards *@
<div class="row">
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-leaf"></span> Top organisations
            </div>
            <div class="panel-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>User</th>
                            <th>Bounty</th>
                        </tr>
                    </thead>
                    @foreach (var org in Model.TopOrgs)
            {
                        <tr>
                            <td>@org.Name</td>
                            <td>@org.Bounty</td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-leaf"></span> Top Users
            </div>
            <div class="panel-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>User</th>
                            <th>Bounty</th>
                        </tr>
                    </thead>
                    @foreach (var user in Model.TopIndividuals)
            {
                        <tr>
                            <td>@user.Name</td>
                            <td>@user.Bounty</td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>
