@model OxPollen.ViewModels.BountyChartsViewModel

@{
    ViewBag.Title = "Bounty";
}

@* Header *@
@section homepageHeader {
    <div class="addgrain-section headsection">
        <div class="container">
            <h2>Bounty</h2>
            <p>Identify grains to build up your score</p>
        </div>
    </div>
    <br />
}

<div class="alert alert-warning" role="alert"><span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
<span class="sr-only">Warning:</span> The Bounty feature is currently offline in this preview release of OxPollen</div>

@* Leaderboards *@
<div class="row">
    <div class="col-md-6">
        <h4>Top Users</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>User</th>
                    <th>Bounty</th>
                </tr>
            </thead>
            @foreach (var user in Model.TopIndividuals)
            {
                <tr>
                    <td>@user.Name</td>
                    <td>@user.Bounty</td>
                </tr>
            }
        </table>
    </div>
    <div class="col-md-6">
        <h4>Top Groups</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>User</th>
                    <th>Bounty</th>
                </tr>
            </thead>
            @foreach (var org in Model.TopOrgs)
            {
                <tr>
                    <td>@org.Name</td>
                    <td>@org.Bounty</td>
                </tr>
            }
        </table>
    </div>
</div>