@{
    ViewBag.Title = "OxLEL";
}

<hr/>

<div class="row">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li><a asp-action="Index" asp-controller="Home">Home</a></li>
            <li><a asp-action="Index" asp-controller="Grain">Teams</a></li>
            <li class="active">OxLEL</li>
        </ol>
    </div>
</div>


<div class="row">

    <div class="col-md-3">
        <img src="https://oxlel.zoo.ox.ac.uk/wp-content/uploads/2016/04/oxlellogo.png" style="width:100%;border-radius:1em;"></img>
        <h3>Oxford Long-Term Ecology Lab.</h3>
        <p>We undertake fieldwork globally to collect environmental data, including using paleo-ecological methods. We also make use of existing spatiotemporal datasets to generate novel datasets on the distribution of biodiversity.</p>
        <hr/>
        <p><a target="_blank" href="https://oxlel.zoo.ox.ac.uk"><span class="glyphicon glyphicon-globe"></span> Website</a></p>
        <p><i class="fa fa-map-pin" aria-hidden="true"></i> United Kingdom</p>
        <p><span class="glyphicon glyphicon-time"></span> Started 3rd Feburary 2016</p>
    </div>

    <div class="col-md-9">

        <h4>Reference Collections</h4>

        <div class="row">
            <div class="col-md-6">
                <p>Oxford Mexican Reference Collection</p>
            </div>
            <div class="col-md-6">
                <p>Oxford European Reference Collection</p>
            </div>
            <div class="col-md-6">
                <p>Oxford Mongolian Reference Collection</p>
            </div>
        </div>


        <hr/>
        <h4>Members</h4>

        <ul class="member-list-compact" style="list-style: none;padding-left:0;">
            <li>
                <a href="https://oxlel.zoo.ox.ac.uk">
                <img src="https://oxlel.zoo.ox.ac.uk/wp-content/uploads/2016/02/12746070_10153898078463187_1367463642_n.jpg" style="height:4em"/>
                William Harvey
                </a>
            </li>
        </ul>

    </div>

</div>

<p>Logo</p>

