@model OxPollen.ViewModels.AddGrainViewModel
@section scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script type="text/javascript" src="~/js/grain/GoogleMaps.js"></script>
    <script type="text/javascript" src="~/lib/fabric/dist/fabric.min.js"></script>
    <script type="text/javascript" src="~/lib/darkroomjs/build/darkroom.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="~/js/grain/ImageManipluation.js"></script>
}
@{
    ViewBag.Title = "Add a Grain";
}

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="~/js/grain/AjaxUpload.js"></script>
<link rel="stylesheet" href="~/lib/darkroomjs/build/darkroom.css" />

@section nocontainerbody {

    <form id="addGrainForm" name="addGrain" method="post" onsubmit="return uploadFile()" action="">
        <div class="addgrain-section headsection">
            <div class="container">
                <h2>Add Unidentified Pollen Grain</h2>
                <p>Intro blurb about uploading your own unidentified pollen...</p>
                <div asp-validation-summary="ValidationSummary.All" role="alert"></div>
                <div id="validation-errors-box" style="display:none;" class="alert alert-danger" role="alert"></div>
            </div>
        </div>

        <div class="addgrain-section imagesection">
            <div class="container">
                <div class="row">
                    <h3><span class="numberCircle">1</span> Add Your Images</h3>
                    <p>After you select your image, you can crop and rotate it. You can add up to five images of a single grain. Adding more images from different angles may aid with identification.</p>
                </div>
                <div class="row">
                    <div class="fileUpload btn btn-primary">
                        <span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span><span> Select Your Images</span>
                        <input type="file" multiple="multiple" class="upload" onchange="handleFiles(this);" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2"><label>Current Uploads: </label></div>
                    <div class="col-md-10">
                        <div class="row" id="image-thumbnails">
                            None
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <label>Image Scale</label>
                    </div>
                    <div class="col-md-10">
                        <div class="input-group">
                            <input type="text" asp-for="ImagesScale" class="form-control" id="ImageScale" placeholder="Scale" />
                            <span class="input-group-addon">Micrometres</span>
                        </div>
                        <span asp-validation-for="ImagesScale" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="addgrain-section mapsection">
            <div class="container">
                <div class="row">
                    <h3><span class="numberCircle">2</span> Location</h3>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <label>Where was the pollen grain collected from?</label>
                    </div>
                    <div class="col-md-10">
                        <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
                        <div id="map"></div>
                        <br />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        @Html.LabelFor(m => m.Latitude)
                    </div>
                    <div class="col-md-10">
                        <div class="input-group">
                            <input type="text" asp-for="Latitude" class="form-control" id="Latitude" placeholder="Latitude" />
                            <span class="input-group-addon">Decimal Degrees</span>
                        </div>
                        <span asp-validation-for="Latitude" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        @Html.LabelFor(m => m.Longitude)
                    </div>
                    <div class="col-md-10">
                        <div class="input-group">
                            <input type="text" asp-for="Longitude" class="form-control" id="Longitude" placeholder="Longitude" />
                            <span class="input-group-addon">Decimal Degrees</span>
                        </div>
                        <span asp-validation-for="Longitude" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-4">
                    </div>
                </div>
            </div>
        </div>

        <div class="addgrain-section optionalsection">
            <div class="container">
                <div class="row">
                    <h3><span class="numberCircle">3</span> Optional Information</h3>
                    <p>Adding information here is optional, but may help others to better identify your grain.</p>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <label>Approximate Age of Sample</label>
                    </div>
                    <div class="col-md-10">
                        <div class="input-group">
                            <input type="text" class="form-control" asp-for="AgeYearsBeforePresent" placeholder="Age" />
                            <div class="input-group-addon">Years Before Present</div>
                        </div>
                        <span asp-validation-for="AgeYearsBeforePresent" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="addgrain-section savesection">
            <div class="container">
                <div class="row">
                    <a id="submit" class="btn btn-primary" href="javascript: uploadFile()">Add My Grain!</a>
                </div>
            </div>
        </div>
    </form>
}

<script type="text/javascript" src="~/lib/bootstrap/js/modal.js"></script>
<script type="text/javascript">
    function uploadFile() {
        $('#submit').prop('disabled', true);
        $('#submit').addClass('disabled');

        //Get form data
        var form = document.getElementById('addGrainForm');
        var formData = new FormData(form);

        //Load Images
        var imagesContainer = document.getElementById('image-thumbnails');
        var imgs = imagesContainer.getElementsByTagName('img');
        var imgSrcs = [];
        for (var i = 0; i < imgs.length; i++) {
            imgSrcs.push(imgs[i].src);
        }
        if (imgs.length >= 1) {
            formData.append("ImageOne", imgSrcs[0]);
        }
        if (imgs.length >= 2) {
            formData.append("ImageTwo", imgSrcs[1]);
        }
        if (imgs.length >= 3) {
            formData.append("ImageThree", imgSrcs[2]);
        }
        if (imgs.length >= 4) {
            formData.append("ImageFour", imgSrcs[3]);
        }
        if (imgs.length >= 5) {
            formData.append("ImageFive", imgSrcs[4]);
        }
        console.log(formData);

        //Ajax Request
        ajax = new XMLHttpRequest();
        ajax.onreadystatechange = function () {
            if (ajax.readyState == 4 || ajax.readyState == "complete") {
                if (ajax.status == 200) {
                    location.href = "/Grain/Index";
                }
                if (ajax.status == 400 || ajax.status == 500) {
                    var result = ajax.responseText;
                    var resultJson = JSON.parse(result);
                    console.log(resultJson);
                    var errorBox = document.getElementById('validation-errors-box');
                    $('#validation-errors-box').css('display', '');
                    var newContent = "";
                    $.each(resultJson, function (k, v) {
                        newContent = newContent + '<p><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span><span class="sr-only">Error:</span> ' + v[0] + '</p>';
                    });
                    errorBox.innerHTML = newContent;
                    $("html, body").animate({ scrollTop: 0 }, "slow");
                    $('#submit').prop('disabled', false);
                    $('#submit').removeClass('disabled');
                }
            }
        }

        ajax.open("POST", "/Grain/Add");
        ajax.send(formData);
    }
</script>