@model PollenRecord
@section scripts{
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="http://cdn.rawgit.com/tapmodo/Jcrop/master/js/jquery.Jcrop.min.js"></script>
}

<h2>Add Unidentified Pollen</h2>
<p>Intro blurb about uploading your own unidentified pollen...</p>

@using (Html.BeginForm("AddUnidentifiedPollen", "Grain", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form" }))
{
    <div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>

        <div class="row">
            <div class="col-md-2">
                <label>Upload a Photo</label>
            </div>
            <div class="col-md-10">
                <input type="file" name="files" id="files" accept=".jpg,.jpeg,.png,.gif" />

                <table border="0" cellpadding="0" cellspacing="5">
                    <tr>
                        <td>
                            <img id="Image1" src="" alt="" style="display: none" />
                        </td>
                        <td>
                            <canvas id="canvas" height="5" width="5"></canvas>
                        </td>
                    </tr>
                </table>
                <br />
                <input type="button" id="btnCrop" value="Crop" style="display: none" />
                <input type="hidden" name="imgX1" id="imgX1" />
                <input type="hidden" name="imgY1" id="imgY1" />
                <input type="hidden" name="imgWidth" id="imgWidth" />
                <input type="hidden" name="imgHeight" id="imgHeight" />
                <input type="hidden" name="imgCropped" id="imgCropped" />

                <span asp-validation-for="PhotoUrl" class="text-danger"></span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                <label>Where was the pollen grain collected from?</label>
            </div>
            <div class="col-md-10">
                <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
                <div id="map"></div>
                <br />
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                @Html.LabelFor(m => m.Latitude)
            </div>
            <div class="col-md-10">
                <div class="input-group">
                    <input type="text" asp-for="Latitude" class="form-control" id="Latitude" placeholder="Latitude" />
                    <span class="input-group-addon">Decimal Degrees</span>
                </div>
                <span asp-validation-for="Latitude" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                @Html.LabelFor(m => m.Longitude)
            </div>
            <div class="col-md-10">
                <div class="input-group">
                    <input type="text" asp-for="Longitude" class="form-control" id="Longitude" placeholder="Longitude" />
                    <span class="input-group-addon">Decimal Degrees</span>
                </div>
                <span asp-validation-for="Longitude" class="text-danger"></span>
            </div>
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                <label>Approximate Age of Sample (Optional)</label>
            </div>
            <div class="col-md-10">
                <div class="input-group">
                    <input type="text" class="form-control" asp-for="ApproximateAge" placeholder="Age" />
                    <div class="input-group-addon">Years Before Present</div>
                </div>
                <span asp-validation-for="ApproximateAge" class="text-danger"></span>
            </div>
        </div>
        <input class="btn btn-primary" type="submit" name="Submit" id="Submit" value="Upload" />
}

<script type="text/javascript">
    window.onload = function () {
        console.log("loading google maps");
        var latlng = new google.maps.LatLng(51.4975941, -0.0803232);
        var map = new google.maps.Map(document.getElementById('map'), {
            center: latlng,
            zoom: 5,
            mapTypeId: google.maps.MapTypeId.TERRAIN
        });

        var marker;
        function placeMarker(location) {
            if (marker) {
                marker.setPosition(location);
            } else {
                marker = new google.maps.Marker({
                    position: location,
                    map: map,
                    title: "Pollen Sample Location",
                    draggable: true
                });
                google.maps.event.addListener(marker, 'dragend', function (event) {
                    updateLocationFormFields(event.latLng);
                });
            }
        }

        google.maps.event.addListener(map, 'click', function (event) {
            placeMarker(event.latLng);
            updateLocationFormFields(event.latLng);
        });

        function updateLocationFormFields(latLng) {
            var lat = latLng.lat().toFixed(4);
            var lon = latLng.lng().toFixed(4);
            document.getElementById('Latitude').value = lat;
            document.getElementById('Longitude').value = lon;
        }
    };
</script>

<script type="text/javascript">
    $(function () {
        $('#FileUpload1').change(function () {
            $('#Image1').hide();
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#Image1').show();
                $('#Image1').attr("src", e.target.result);
                $('#Image1').Jcrop({
                    onChange: SetCoordinates,
                    onSelect: SetCoordinates
                });
            }
            reader.readAsDataURL($(this)[0].files[0]);
        });

        $('#btnCrop').click(function () {
            var x1 = $('#imgX1').val();
            var y1 = $('#imgY1').val();
            var width = $('#imgWidth').val();
            var height = $('#imgHeight').val();
            var canvas = $("#canvas")[0];
            var context = canvas.getContext('2d');
            var img = new Image();
            img.onload = function () {
                canvas.height = height;
                canvas.width = width;
                context.drawImage(img, x1, y1, width, height, 0, 0, width, height);
                $('#imgCropped').val(canvas.toDataURL());
                $('[id*=btnUpload]').show();
            };
            img.src = $('#Image1').attr("src");
        });
    });
    function SetCoordinates(c) {
        $('#imgX1').val(c.x);
        $('#imgY1').val(c.y);
        $('#imgWidth').val(c.w);
        $('#imgHeight').val(c.h);
        $('#btnCrop').show();
    };
</script>