@{
    ViewBag.Title = "Getting Started with OxPollen Identifications";
    ViewBag.Subtitle = "Useful tips and tricks for submitting your grains and making identifications";
}

@section homepageHeader {
    <div class="addgrain-section headsection">
        <div class="container">
            <h2>@ViewBag.Title</h2>
            <p>@ViewBag.Subtitle</p>
        </div>
    </div>
    <br />
}

<p>Taking photographs of your pollen grains and preparing them for submission is a simple task made easier than ever before! There are a number of ways to photograph your grains, many of which require the acquisition of expensive cameras and or software; however, with just your mobile phone you can create high quality images of your chosen pollen grains in just a matter of seconds.</p>
<h2>To Prepare Your Images</h2>
<ul class="list-group">
    <li class="list-group-item">
        <h4 class="list-group-item-heading">I. Position</h4>
        <p>Prepare your pollen grain in the centre of the microscopes field of view with an ocular micrometre positioned just below.</p>
    </li>
    <li class="list-group-item">
        <h4 class="list-group-item-heading">II. Calibrate</h4>
        <p>Adjust the lighting and focus of the microscope to highlight the most prominent features of the selected pollen grain.</p>
    </li>
    <li class="list-group-item">
        <h4 class="list-group-item-heading">III. Magnification</h4>
        <p>Take note of the optical magnification. If you are using a light microscope this is the magnification of the eyepiece (usually 10x) multiplied by the magnification of the objective (usually 10x; 20x; 40x; 100x). For example, if the magnification of the eyepiece is 10x and the objective being used is 40x, the total magnification is 400x.</p>
    </li>
    <li class="list-group-item">
        <h4 class="list-group-item-heading">IV. Measure</h4>
        <p>Measure the diameter of your pollen grain using the ocular micrometre taking into account any conversions that need to be made for total optical magnification.</p>
        <table class="table">
            <thead>
                <tr>
                    <th>Total optical magnification</th>
                    <th>Number of micrometre divisions</th>
                    <th>Size (um)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>100x</td>
                    <td>1</td>
                    <td>10</td>
                </tr>
                <tr>
                    <td>200x</td>
                    <td>1</td>
                    <td>5</td>
                </tr>
                <tr>
                    <td>400x</td>
                    <td>1</td>
                    <td>2.5</td>
                </tr>
                <tr>
                    <td>1000x</td>
                    <td>1</td>
                    <td>1</td>
                </tr>
            </tbody>
        </table>
    </li>
    <li class="list-group-item">
        <h4 class="list-group-item-heading">V. Photograph</h4>
        <p>Hold the camera on your phone up to the eyepiece of the microscope until the pollen grain comes into the field of view and capture the image. This will require a steady hand!</p>
    </li>
    <li class="list-group-item">
        <h4 class="list-group-item-heading">VI. Focus</h4>
        <p>Change the focus of the microscope to outline any other important features of the grain that may have been out of focus in previous images and repeat Steps II though V.</p>
    </li>
    <li class="list-group-item">
        <h4 class="list-group-item-heading">VII. Rotation</h4>
        <p>If mounted in silicone then rotate your grain to capture both polar and equatorial views encapsulating as good a representation as you can of the entire (3D) grain. This will help others in the fast and accurate identification of your pollen grain.</p>
    </li>
    <li class="list-group-item">
        <h4 class="list-group-item-heading">VIII. Enhance (Optional)</h4>
        <p>If you have access to photographic editing software then you can adapt the image to best portray the most prominent features of your pollen grain. This can be achieved, for example, with software such as Photoshop on a computer or Instagram on a smartphone. </p>
    </li>
    <li class="list-group-item">
        <h4 class="list-group-item-heading">IX. Upload</h4>
        <p>Upload your image(s) to OxPollen and wait for them to be identified by other palynologist around the world!</p>
    </li>
</ul>