@model List<OxPollen.ViewModels.ReadOnlyGrainViewModel>

@{
    ViewBag.Title = "Unidentified Pollen Grains";
}

@section homepageHeader {
    <div class="addgrain-section headsection">
        <div class="container">
            <h2>Unidentified Grains</h2>
            <p>These pollen grains remain unidentified. Can you help?</p>
        </div>
    </div>
}

@* Filters and Sorting *@
<div class="row">
    <div class="col-md-12">
        <br />
        <div class="filters">
            <span class="glyphicon glyphicon-sort-by-attributes" aria-hidden="true"></span> Sorted by
            <div class="dropdown" style="display:inline;">
                <button class="btn btn-default dropdown-toggle" type="button" id="filterMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Highest Bounty
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="filterMenu">
                    <li><a href="#">Highest Bounty</a></li>
                    <li><a href="#">Most Recent</a></li>
                    <li><a href="#">Hotness</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<br />

@* No Unidentified Grains *@
@if (Model.Count == 0)
{
    <div class="row">
        <div class="col-md-12">
            <p>There are currently no unidentified pollen grains!</p>
            <p>Why not submit one?</p>
        </div>
    </div>
}
    @* Grid of Grains *@
else
{
    <div class="row">
        <div class="col-md-12">
            <ul class="grain-grid columns-4">
                @foreach (var grain in Model)
                {
                    <li>
                        <a href="@Url.Action("Identify", "Grain", new { id = @grain.Id } )">
                            <div class="img-container">
                                <img src="\user-image-uploads\@grain.ThumbnailLocation" />
                                <div class="ribbon"><span>@grain.Bounty</span></div>
                            </div>
                        </a>
                    </li>
                }
            </ul>
        </div>
    </div>
}