@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>
<p>Please try again. If the issue persists, please contact us.</p>
<a href="/" class="btn btn-default">Homepage</a>
