@model GlobalPollenProject.App.Models.PublicProfile

@{
    ViewBag.Title = Model.FirstName + " " + Model.LastName;
}

<hr/>

<div class="row">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li><a asp-action="Index" asp-controller="Home">Home</a></li>
            <li><a asp-action="Index" asp-controller="Grain">Teams</a></li>
            <li class="active">OxLEL</li>
        </ol>
    </div>
</div>


<div class="row">

    <div class="col-md-3">
        <img src="https://oxlel.zoo.ox.ac.uk/wp-content/uploads/2016/02/12746070_10153898078463187_1367463642_n.jpg" style="width:100%;border-radius:1em;"></img>
        <h3>@Model.FirstName @Model.LastName</h3>
        <p><a href="/">Oxford Long-Term Ecology Lab</a></p>
        <hr/>
        <p><i class="fa fa-map-pin" aria-hidden="true"></i> United Kingdom</p>
        <p><span class="glyphicon glyphicon-time"></span> Joined 3rd Feb 2016</p>
    </div>

    <div class="col-md-9">

        <div class="row">
            <div class="col-md-4">
                <span style="font-size:2em;font-weight: bold;">43.8</span><br/><span>Identification Score</span>
            </div>
            <div class="col-md-4">
                <span style="font-size:2em;font-weight: bold;">1,450</span><br/><span>Digitised Slides</span>
            </div>
            <div class="col-md-4">
                <span style="font-size:2em;font-weight: bold;">2</span><br/><span>Unknown Grains Submitted</span>
            </div>
        </div>

        <h4>Reference Collections</h4>
        <hr/>

        <div class="row">
            <div class="col-md-6">
                <p>Will's Personal Collection</p>
            </div>
        </div>

        <h4>Areas of Expertise</h4>
        <hr/>

        <p>Regional</p>
        <ul>
            <li>Nicaragua</li>
        </ul>

        <p>Taxonomic</p>
        <ul>
            <li>Compositae</li>
        </ul>

    </div>

</div>
