@model GlobalPollenProject.App.Models.AddDigitisedSlide

@{
    ViewBag.Title = "Add Reference Grain";
}

@section homepageHeader {
    <div class="addgrain-section headsection">
        <div class="container">
            <h2>Add Reference Grain</h2>
            <p>Add a new reference grain</p>
        </div>
    </div>
    <br />
}

<link rel="stylesheet" href="~/lib/nouislider/distribute/nouislider.min.css"> @* TODO Move this *@

@section scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script type="text/javascript" src="~/js/reference/AddGrain.js"></script>
    <script src="~/lib/nouislider/distribute/nouislider.min.js"></script>
    <script type="text/javascript" src="~/js/reference/AddFocusImage.js"></script>
}

<form id="addGrainForm" name="addGrain" method="post" onsubmit="return uploadFile()" action="">
    <div asp-validation-summary="All" role="alert"></div>
    <div id="validation-errors-box" style="display:none;" class="alert alert-danger" role="alert"></div>

    @Html.HiddenFor(n => n.CollectionId)

    <h4>Taxonomic Information</h4>
    <div class="row">
        <div class="col-md-12">
            <p>
                This reference slide is of <select asp-for="Rank" class="form-control input-sm inline-dropdown" id="Rank">
                    <option value="3">Species</option>
                    <option value="2">Genus</option>
                    <option value="1">Family</option>
                </select> rank.
            </p>

        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <input type="text" asp-for="Family" class="form-control" autocomplete="off" onblur="disable('Family');" onkeyup="suggest(this, 'Family');" placeholder="Family" />
            <ul class="dropdown-menu autocomplete" id="FamilyList" style="display:none"></ul>
            <span asp-validation-for="Family" class="text-danger"></span>
        </div>
        <div class="col-sm-4">
            <input type="text" asp-for="Genus" class="form-control" autocomplete="off" onblur="disable('Genus');" onkeyup="suggest(this, 'Genus');" placeholder="Genus" />
            <ul class="dropdown-menu autocomplete" id="GenusList" style="display:none"></ul>
            <span asp-validation-for="Genus" class="text-danger"></span>
        </div>
        <div class="col-sm-4">
            <input type="text" asp-for="Species" class="form-control" autocomplete="off" onblur="disable('Species');" onkeyup="suggest(this, 'Species');" placeholder="Species" />
            <ul class="dropdown-menu autocomplete" id="SpeciesList" style="display:none"></ul>
            <span asp-validation-for="Species" class="text-danger"></span>
        </div>
    </div>
    <hr />

    <h4>Images</h4>
    <p>Please prepare your images (crop, rotate, contrast etc.) before uploading to the Global Pollen Project.</p>

    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading"><span class="glyphicon glyphicon-plus"></span> Add New Image</div>
                <div class="panel-body">

                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#single" aria-controls="single" role="tab" data-toggle="tab">Single Images</a></li>
                        <li role="presentation"><a href="#focus" aria-controls="focus" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-eye-open"></span> Focus Image</a></li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="single">
                            <br />
                            <p>Use Single Images if a fixed camera setup is not available. </p>
                            <div class="row">
                                <div class="fileUpload btn btn-default">
                                    <span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span><span> Add More Images</span>
                                    <input type="file" multiple="multiple" class="upload" onchange="handleFiles(this);" />
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="focus">
                            <br />
                            <p>Focus Images enable users to scroll through an image as if moving through the focus on a microscope.</p>
                            <p>You must upload 5 images in sequence for a Focus Image. Add the prefixes 'f-1' through 'f-5' to the beginning of the file names.</p>
                            <div class="row">
                                <div class="fileUpload btn btn-default">
                                    <span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span><span> Upload New Image Set</span>
                                    <input id="focus-upload-button" type="file" multiple="multiple" class="upload" onchange="handleFocusFrames(this);" />
                                </div>
                                <a id="focus-add-button" class="btn btn-default" onclick="confirmFocusImage()">Add Focus Image</a>
                            </div>
                            <p id="focus-upload-error"></p>
                            <div id="focus-preview">
                                <div class="zoom-canvas-container" style="position:relative">
                                    <canvas id="focusImagePreview" class="zoom-canvas"></canvas>
                                    <div id="focusSlider" style="display:inline-block;height:10em;position:absolute;top:4em;left:0"></div>
                                    <div id="focus-images" hidden="hidden"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <label>Static Images:</label>
            <ul id="images" class="grain-grid"></ul>
            <hr />
            <label>Focus Images:</label>
            <ul id="focusImages" class="grain-grid"></ul>
        </div>
    </div>
    <hr />

    <h4>Required Information</h4>
    <p>We require these properties for all digitised reference slides.</p>
    <div class="row">
        <div class="col-md-2">
            <label asp-for="MaxGrainSize"></label>
        </div>
        <div class="col-md-10">
            <input asp-for="MaxGrainSize" class="form-control" />
        </div>
    </div>
    <hr />

    <h4>Additional Information</h4>
    <p>Soon you will be able to assign exine properties to digitised reference slides.</p>

    <a id="submit1" class="btn btn-primary" href="javascript: uploadFile(this)">Save and Add Another</a>
    <a id="submit2" class="btn btn-default" href="javascript: uploadFile(this)">Save and Exit</a>
    <a class="btn btn-default">Back</a>
    <br />
    <div class="row">
        <div class="progress" style="display:none;">
            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
        </div>
    </div>
</form>

<script src="~/js/taxonomicBackbone.js"></script>