@{
    ViewData["Title"] = "Guide";
    ViewData["Subtitle"] = "Find out about the project and how it works";
}

@section homepageHeader {
    <div class="addgrain-section headsection">
        <div class="container">
            <h2>@ViewData["Title"]</h2>
            <p>@ViewData["Subtitle"]</p>
        </div>
    </div>
    <br />
}

<div class="row" style="position:relative">
    <div class="col-md-9" id="mainCol">
        <h2 id="about">About the Project</h2>

        <p>The Global Pollen Project aims to enable people to share and identify pollen grains, and create an open, free and accessible reference library for pollen identification.
        All data, whether individual grains or digitised reference collections, is available free for non-commercial use.</p>

        <p>The project has been designed and created by Andrew Martin and William J. Harvey to improve the struggles of palynologists the world over. 
        From trying to identify those elusive grains, to finding reference material for which to compare your grains to, the project aims to educate and incite growth in this scientific field as well as to reduce “stresses” associated with the discipline.</p>
        <div class="row">
            <div class="col-md-4"><img src="//placehold.it/300x300" class="img-responsive"></div>
            <div class="col-md-4"><img src="//placehold.it/300x300" class="img-responsive"></div>
            <div class="col-md-4"><img src="//placehold.it/300x300" class="img-responsive"></div>
        </div>
        <br />
        <p>The main goal of OxPollen is to aid in the identification of pollen grains in palynological research. We hope that this tool will promote increased research and help share expertise to encourage people to tackle palynological research in more challenging parts of the world producing higher resolution taxonomic identifications and studies. In doing so we also hope to bridge the gap between the modern and palaeo scientific spheres.</p>


        <hr class="col-md-12">

        <h2 id="cite">How To Cite</h2>
        <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/80x15.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Dataset" property="dct:title" rel="dct:type">The Global Pollen Project Reference Dataset</span> by <span xmlns:cc="http://creativecommons.org/ns#" property="cc:attributionName">Global Pollen Project Contributors</span> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>
</div>
    <div class="col-md-3" id="leftCol">
        <ul class="nav nav-stacked"  data-offset-top="60" data-offset-bottom="200" data-spy="affix" id="sidebar">
            <li><a href="#about">About the Project</a></li>
            <li><a href="#sec1">Scoring</a></li>
            <li><a href="#sec2">Section 2</a></li>
            <li><a href="#sec3">Section 3</a></li>
            <li><a href="#sec4">Section 4</a></li>
        </ul>
    </div>


</div>