@{
    ViewData["Title"] = "Guide";
    ViewData["Subtitle"] = "Find out about the project and how it works";
}

@section homepageHeader {
    <div class="addgrain-section headsection">
        <div class="container">
            <h2>@ViewData["Title"]</h2>
            <p>@ViewData["Subtitle"]</p>
        </div>
    </div>
    <br />
}

<div class="row" style="position:relative">
    <div class="col-md-9" id="mainCol">
        <h2 id="about">About the Project</h2>
        <p>OxPollen has been designed and created by Andrew Martin and William J. Harvey to improve the struggles of palynologists the world over. From trying to identify those elusive grains, to finding reference material for which to compare your grains to, OxPollen aims to educate and incite growth in this scientific field as well as to reduce “stresses” associated with the discipline.</p>
        <p>The main goal of OxPollen is to aid in the identification of pollen grains in palynological research. We hope that this tool will promote increased research and help share expertise to encourage people to tackle palynological research in more challenging parts of the world producing higher resolution taxonomic identifications and studies. In doing so we also hope to bridge the gap between the modern and palaeo scientific spheres.</p>
        <div class="row">
            <div class="col-md-4"><img src="//placehold.it/300x300" class="img-responsive"></div>
            <div class="col-md-4"><img src="//placehold.it/300x300" class="img-responsive"></div>
            <div class="col-md-4"><img src="//placehold.it/300x300" class="img-responsive"></div>
        </div>


        <hr class="col-md-12">
        Rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
        dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia cor magni dolores
        eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,
        sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
        Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut.
        Rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
        dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia cor magni dolores
        eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,
        sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
        Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut!



        <h2 id="sec1">Scoring</h2>
        <p>
            Rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
            dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut.
        </p>
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading"><h3>Hello.</h3></div>
                    <div class="panel-body">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
                        Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis
                        dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
                        Aliquam in felis sit amet augue.
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading"><h3>Hello.</h3></div>
                    <div class="panel-body">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
                        Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis
                        dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
                        Aliquam in felis sit amet augue.
                    </div>
                </div>
            </div>
        </div>

        <hr>

        <h2 id="sec2">Section 2</h2>
        <p>
            Rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
            dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia cor magni dolores
            eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,
            sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
            Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut!
        </p>

        <hr>

        <h2 id="sec3">Section 3</h2>
        Images are responsive sed but sum are more fun peratis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
        totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
        dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia cor magni dolores
        eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,
        sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
        Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut

        <h2 id="sec4">Section 4</h2>
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
        totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
        dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia cor magni dolores
        eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,
        sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
        Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut


        <hr>
        <h4><a href="http://bootply.com/75781">Edit on Bootply</a></h4>
        <hr>


    </div>

    <div class="col-md-3" id="leftCol">
        <ul class="nav nav-stacked"  data-offset-top="60" data-offset-bottom="200" data-spy="affix" id="sidebar">
            <li><a href="#about">About the Project</a></li>
            <li><a href="#sec1">Scoring</a></li>
            <li><a href="#sec2">Section 2</a></li>
            <li><a href="#sec3">Section 3</a></li>
            <li><a href="#sec4">Section 4</a></li>
        </ul>
    </div>


</div>