@{
    ViewData["Title"] = "About";
    ViewData["Subtitle"] = "Find out about the project and how it works";
    ViewData["Description"] = "The Global Pollen Project is a user-driven, open reference library of plant pollen. Exchange identifications with other users for collaborative science. Upload your reference material or unknown grains today.";
}

@section homepageHeader {
    <div class="addgrain-section headsection">
        <div class="container">
            <h2>@ViewData["Title"]</h2>
            <p>@ViewData["Subtitle"]</p>
        </div>
    </div>
    <br />
}

<h2 id="about">About the Project</h2>

<p>
    The Global Pollen Project aims to enable people to share and identify pollen grains, and create an open, free and accessible reference library for pollen identification.
    All data, whether individual grains or digitised reference collections, is available free for non-commercial use.
</p>

<p>
    The project has been designed and created by Andrew Martin and William J. Harvey to improve the struggles of palynologists the world over.
    From trying to identify those elusive grains, to finding reference material for which to compare your grains to, the project aims to educate and incite growth in this scientific field as well as to reduce “stresses” associated with the discipline.
</p>
<p>The main goal of OxPollen is to aid in the identification of pollen grains in palynological research. We hope that this tool will promote increased research and help share expertise to encourage people to tackle palynological research in more challenging parts of the world producing higher resolution taxonomic identifications and studies. In doing so we also hope to bridge the gap between the modern and palaeo scientific spheres.</p>

<hr class="col-md-12">
<h2 id="cite">How To Cite</h2>
<p>
    The Global Pollen Project was developed by Andrew C Martin and William J Harvey. Please use a citation similar to the following in your work:
</p>
<div class="row">
    <div class="col-md-6">
        <blockquote>
            <p>Martin, AC. and Harvey, WJ. (2016). [online] The Global Pollen Project. Available at: http://globalpollenproject.org [Accessed 27 Feb. 2016].</p>
            <h6>Harvard</h6>
        </blockquote>
    </div>
    <div class="col-md-6">
        <blockquote>
            <p>Martin, A.C., & Harvey, W. J. (2016). <em>The Global Pollen Project</em>. Retrieved 27 February 2016, from http://globalpollenproject.org</p>
            <h6>APA (6th Edition)</h6>
        </blockquote>

    </div>
</div>
<p>
    The data available in the Global Pollen Project has been kindly contributed by individuals and organisations around the world.
    The image library and metadata is available under a Creative Commons License (<a asp-action="Terms">see terms</a>). When using this data in your work, please
    attribute both the contributors of the information you use and the Global Pollen Project itself. Please acknowledge any digitised reference collections that you use heavily.
    <span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Dataset" property="dct:title" rel="dct:type">The Global Pollen Project Reference Collection</span> by
    <span xmlns:cc="http://creativecommons.org/ns#" property="cc:attributionName">Contributors to The Global Pollen Project</span> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>
</p>
<a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/80x15.png" /></a><br />
