@{
    ViewData["Title"] = "About";
}

@section homepageHeader {
    <div class="addgrain-section headsection">
        <div class="container">
            <h2>@ViewData["Title"]</h2>
        </div>
    </div>
    <br />
}

<p>OxPollen has been designed and created by Andrew Martin and William J. Harvey to improve the struggles of palynologists the world over. From trying to identify those elusive grains, to finding reference material for which to compare your grains to, OxPollen aims to educate and incite growth in this scientific field as well as to reduce “stresses” associated with the discipline.</p>
<p>The main goal of OxPollen is to aid in the identification of pollen grains in palynological research. We hope that this tool will promote increased research and help share expertise to encourage people to tackle palynological research in more challenging parts of the world producing higher resolution taxonomic identifications and studies. In doing so we also hope to bridge the gap between the modern and palaeo scientific spheres.</p>