@model List<OxPollen.ViewModels.ReadOnlyGrainViewModel>

@{
    ViewData["Title"] = "Home";
}

@* Header *@
@section homepageHeader {
    <header class="homepage-header">
        <div class="container">
            <h1>OxPollen</h1>
            <p>The Open Platform for Pollen Identification</p>
        </div>
    </header>
}

@* Marketing *@
<div class="row">
    <div class="col-sm-4">
        <img class="img-circle img-responsive home-tri-image" src="~/images/pollen1.png" alt="">
        <h2>Submit Your Pollen</h2>
        <p>If you're having trouble identifying a pollen grain to family, genus or species level, why not submit to OxPollen? Your grain becomes public, where others working with pollen can submit identifications. </p>
    </div>
    <div class="col-sm-4">
        <img class="img-circle img-responsive home-tri-image" src="~/images/pollen2.jpg" alt="">
        <h2>Add Your Expertise</h2>
        <p>Specialise in pollen from a certain region or taxon? Help others by identifying pollen familiar to you.</p>
    </div>
    <div class="col-sm-4">
        <img class="img-circle img-responsive home-tri-image" src="~/images/pollen3.png" alt="">
        <h2>Collective Reference</h2>
        <p>As more grains become identified, our reference collection will fill with pollen taxa and a range of example images for each. As OxPollen is linked to the Global Biodiversity Information Facility (GBIF) and Neotoma, you can explore the distribution of your species in space and time. </p>
    </div>
</div>
<hr />

@* About OxPollen *@
<div class="row">
    <div class="col-sm-8">
        <h2>How It Works</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et molestiae similique eligendi reiciendis sunt distinctio odit? Quia, neque, ipsa, adipisci quisquam ullam deserunt accusantium illo iste exercitationem nemo voluptates asperiores.</p>
        <p>
            <a asp-action="Index" asp-controller="Grain" class="btn btn-default btn-lg">Get Started »</a>
        </p>
    </div>
    <div class="col-sm-4">
        <h2>Most Wanted</h2>
        <p>These pollen grains have remained unidentified for the longest time.</p>
        <ul class="grain-grid columns-8">
            @foreach (var grain in Model)
            {
                <li>
                    <a href="@Url.Action("Identify", "Grain", new { id = @grain.Id } )">
                        <div class="img-container">
                            <img src="~/user-image-uploads/@grain.ThumbnailLocation" />
                            <div class="ribbon"><span>@grain.Bounty</span></div>
                        </div>
                    </a>
                </li>
            }
        </ul>
    </div>
</div>