@{
    ViewData["Title"] = "Home";
}

@section homepageHeader {
    <header class="homepage-header">
        <div class="container">
            <h1>OxPollen</h1>
            <p>The Open Platform for Pollen Identification</p>
        </div>
    </header>
}

<!-- Do Stuff -->
<div class="row">
    <div class="col-sm-4">
        <img class="img-circle img-responsive home-tri-image" src="~/images/pepperpollen.png" alt="">
        <h2>Submit Your Pollen</h2>
        <p>These marketing boxes are a great place to put some information. These can contain summaries of what the company does, promotional information, or anything else that is relevant to the company. These will usually be below-the-fold.</p>
    </div>
    <div class="col-sm-4">
        <img class="img-circle img-responsive home-tri-image" src="~/images/pepperpollen.png" alt="">
        <h2>Add Your Expertise</h2>
        <p>The images are set to be circular and responsive. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
    </div>
    <div class="col-sm-4">
        <img class="img-circle img-responsive home-tri-image" src="~/images/pepperpollen.png" alt="">
        <h2>A Collective Reference</h2>
        <p>As more grains become identified, our reference collection will fill with pollen taxa and a range of example images for each. As OxPollen is linked to the Global Biodiversity Information Facility (GBIF) and Neotoma, you can explore the distribution of your species in space and time. </p>
    </div>
</div>
<hr />

<!-- About OxPollen -->
<div class="row">
    <div class="col-sm-8">
        <h2>How It Works</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et molestiae similique eligendi reiciendis sunt distinctio odit? Quia, neque, ipsa, adipisci quisquam ullam deserunt accusantium illo iste exercitationem nemo voluptates asperiores.</p>
        <p>
            <a asp-action="Index" asp-controller="Pollen" class="btn btn-default btn-lg">Get Started »</a>
        </p>
    </div>
    <div class="col-sm-4">
        <h2>After More Info?</h2>
        <address>
            <strong>OxPollen, Long-Term Ecology Lab</strong>
            <br>Department of Zoology
            <br>University of Oxford
            <br>
        </address>
        <address>
            <abbr title="Phone">P:</abbr>(123) 456-7890
            <br>
            <abbr title="Email">E:</abbr> <a href="mailto:#">oxpollen@zoo.ox.ac.uk</a>
        </address>
    </div>
</div>
<hr />


<!-- Most Wanted Pollen Section Here? -->
<div class="row">
    <div class="col-md-12">
        <h2>Most Wanted</h2>
        <p>These pollen grains have remained unidentified for the longest time.</p>
        <div class="pollen-grid">

            <div class="row">
                <div class="col-md-6 display-panel">
                    <img src="~/grain-images/4efc4aed-3ed8-4ae9-95d1-362349a2cdaa.jpg" alt="..." style="height:125px">
                    <p>Submitted 1 year, 2 months and 3 days ago by Will, University of Oxford</p>
                    <img style="text-align: left; margin-right: auto; display: block;" alt="Pollen Location" src="http://maps.google.com/maps/api/staticmap?center=Brooklyn+Bridge,New+York,NY&amp;zoom=2&amp;size=200x125&amp;maptype=terrain&amp;markers=color:blue%7Clabel:Pollen%7C40.702147,-74.015794&amp&amp;amp;sensor=false">
                </div>
            </div>
        </div>
    </div>
</div>