@{
    ViewBag.Title = "Terms of Use";
}

@section homepageHeader {
    <div class="addgrain-section headsection">
        <div class="container">
            <h2>@ViewBag.Title</h2>
        </div>
    </div>
    <br />
}

<p>Will to write this section</p>