<div class="row">
    <div class="col-md-12">
        <h1>Administration</h1>
        <div class="btn-group" role="group" aria-label="...">
            <a class="btn btn-default" asp-controller="Admin" asp-action="Users">Users</a>
            <a class="btn btn-default" asp-controller="Admin" asp-action="Pollen">Pollen Taxa</a>
        </div>
    </div>
</div>