<div class="row">
    <div class="col-md-12">
        <h2>OxPollen Management</h2>
        <p>Use this section to add manual entries to the database, ban or modify user accounts, and more.</p>
        <ul class="nav nav-pills">
            <li role="presentation" class="active"><a asp-controller="Admin" asp-action="Users">Users</a></li>
            <li role="presentation"><a asp-controller="Admin" asp-action="Pollen">Taxa</a></li>
            <li role="presentation"><a href="#">Identified and Unidentified Grains</a></li>
        </ul>
    </div>
    <hr />
</div>