@model Taxon
@{
    ViewBag.Title = "Add a Custom Taxon";
}

@section scripts {
    <script src="~/js/gbif.js"></script>
}

<h1>Add Custom Pollen Taxon</h1>
<p>Use the Global Biodiversity Information Facility to find your taxon.</p>
<label>Search GBIF</label>
<input class="form-control" id="gbif-search" type="text" />


<div class="row">
    <div class="col-md-4">
        <h4>Results</h4>
        <div class="list-group" id="gbif-results" style="overflow:scroll;height:40em">
        </div>
    </div>
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-2">
                <label asp-for="LatinName"></label>
            </div>
            <div class="col-md-10">
                <input type="text" asp-for="LatinName" class="form-control" id="LatinName" placeholder="Latin Name" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <label asp-for="GbifId"></label>
            </div>
            <div class="col-md-10">
                <input type="text" asp-for="GbifId" class="form-control" placeholder="GBIF Identifier" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <label asp-for="CommonName"></label>
            </div>
            <div class="col-md-10">
                <input type="text" asp-for="CommonName" class="form-control" placeholder="Common English Name" />
            </div>
        </div>
    </div>
</div>